<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Dashboard</title>

  <style>
    .nav-link {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.2s ease;
    }
  
    .nav-link:hover {
      background-color: #555;
      color: #fff;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      border-radius: 5px;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.2s ease;
    }

    .dropdown-item:hover {
      background-color: #f1f1f1;
    }
  </style>
</head>

<body class="relative flex flex-col justify-center items-center h-screen bg-gray-200">
  <nav class="py-4 px-8 bg-purple-500 fixed text-white w-full fixed top-0">
    <ul class="flex justify-between items-center">
      <li>
        <a href="/home" class="nav-link font-bold text-lg">Home</a>
      </li>
  
      <li class="dropdown">
        <button class="nav-link font-bold text-lg">Options</button>
        <div class="dropdown-content">
          <a href="/changepassword" class="dropdown-item">Change Password</a>
          <a href="/signout" class="dropdown-item">Sign Out</a>
        </div>
      </li>
      
    </ul>
  </nav>
  <div class="bg-white rounded-lg mt-8 shadow-lg p-12 w-6/12">
    <h3 class="text-3xl font-bold mb-4">Welcome <%=name%>!</h3>
    <% if (admin) { %>
    <a class="block text-blue-600 text-lg mb-2" href="/sport/new">Create a new sport</a>
    <a class="block text-blue-600 text-lg mb-4" href="/adminreport">View reports</a>
    <hr class="mb-4">
    <% } %>
    <% if (joinedUpcoming.length>0) { %>
    <h1 class="text-1xl font-bold mb-4">Upcoming Enrolled Session </h1>
    <ul class="list-none">
      <% for (var i=0; i<joinedUpcoming.length; i++) { %>
      <li>
        <a href="/sessionpage/<%= joinedUpcoming[i].id %>">
          <div class="flex rounded hover:bg-purple-50 items-center my-4 px-4 py-2">
            <span class="mr-6">
              <%= new Date(joinedUpcoming[i].when).toLocaleString('en-GB', {day:'2-digit', month:'2-digit', year:'numeric', hour:'2-digit', minute:'2-digit'}) %>
            </span>
            <% if (joinedUpcoming[i].count===0){ %>
            <p class="text-red-500 font-bold">Slot Full</p>
            <% } else if (joinedUpcoming[i].count===1 ){ %>
            <p class="text-yellow-500 font-bold">Last Slot</p>
            <% } else { %>
            <p class="text-green-500 font-bold">
              <%= joinedUpcoming[i].count %> slots
            </p>
            <% } %>
            <span class="ml-auto font-semibold ">
              <%= joinedUpcoming[i].Sport.sportname %>
            </span>
          </div>
        </a>
      </li>
      <% } %>
    </ul>
    <% } else { %>
    <h1 class="text-1xl font-bold mb-4">No Sessions Enrolled</h1>
    <% } %>
    <% if (sports.length>0) { %>
    <h1 class="text-1xl font-bold mb-4">Available Sports</h1>
    <ul class="list-none">

      <% for (var i=0 ;i<sports.length;i++) { %>
      <li class="my-2">
        <a href="/sport/<%=sports[i].id%>" class="block text-blue-600 text-lg">
          <%=sports[i].sportname%>
        </a>
      </li>
      <% } %>

    </ul>
    <% } else { %>
    <h1 class="text-2xl font-bold mb-4">No sports available</h1>
    <% } %>
  </div>
  <script>
    const dropdown = document.querySelector('.dropdown');
    const dropdownContent = document.querySelector('.dropdown-content');
    
    dropdown.addEventListener('mouseover', () => {
      dropdownContent.style.display = 'block';
    });
  
    dropdown.addEventListener('mouseout', () => {
      dropdownContent.style.display = 'none';
    });
  
    dropdownContent.addEventListener('mouseover', () => {
      dropdownContent.style.display = 'block';
    });
  
    dropdownContent.addEventListener('mouseout', () => {
      dropdownContent.style.display = 'none';
    });
  </script>
</body>

</html>
